* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

#home {
    display: block;
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    color: #fff;

    .home-content1 {
        text-align: center;
        padding-top: 2rem;   

        h1 {
            font-size: 4rem;
            line-height: 1.2;
        }
    }

    .home-content2 {
        text-align: center;
        padding-top: 12rem;  

        h1 {
            font-size: 2rem;
        }
    }
}