* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.home {
  background-image: url("/images/background-image.jpg");
  height: 100vh;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  padding-right: 60px;
  -webkit-box-shadow: 2px 2px 14px -3px rgba(122,122,122,1);
  -moz-box-shadow: 2px 2px 14px -3px rgba(122,122,122,1);
  box-shadow: 2px 2px 14px -3px rgba(122,122,122,1);
  min-width: 300px;
}

.form-header {
  font-size: 35px;
  padding-bottom: 1em;
  font-weight: 500;
}

.download-form-header {
  font-size: 35px;
  padding-bottom: 0.5em;
  font-weight: 500;
}

.download-text {
  margin-bottom: 0.7em;
}

.input {
  padding: 7px;
  margin-bottom: 1.8em;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.label {
  font-weight: 600;
  padding-bottom: 7px;
}

.btn {
  background-color: #3a7aee;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 10px 25px
}

.mt-5 {
  margin-top: 50px;
}

.mmt-5 {
  margin-top: -11px;
}

.ml-5 {
  margin-left: 50px;
}
